version: "3.9"
services:
  redis:
    image: redis:7-alpine
    container_name: redis-server
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    restart: always

  # bullboard:
  #   image: deadly0/bull-board:latest
  #   container_name: bullboard-ui
  #   ports:
  #     - "3000:3000"
  #   environment:
  #     REDIS_HOST: redis
  #     REDIS_PORT: 6379
  #   depends_on:
  #     - redis
  #   restart: always

  mongo:
    image: mongo:7.0.9
    container_name: mongo
    command: ["--replSet", "rs0", "--bind_ip_all"]
    ports:
    - "27017:27017"
    volumes:
      - db_data:/data/db
    restart: always
    healthcheck:
      test: |
        sh -c "mongosh --eval 'rs.status()' || exit 1"
      interval: 5s
      timeout: 10s
      retries: 30
      start_period: 5s

volumes:
  db_data:
    driver: local
  redis-data:
    driver: local
